<p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}"
          header="{{'infirmier.tabPan' | translate}}"
          [modal]="true"
          styleClass="p-fluid edit-dialog"
          [maximizable]="true"
          [draggable]="false"
          [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'infirmier.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'infirmier.username' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText
                                   placeholder="{{'infirmier.username' | translate}}"
                                   id="9" [(ngModel)]="item.username"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="5">{{'infirmier.email' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-envelope"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText
                                   placeholder="{{'infirmier.email' | translate}}"
                                   id="5" [(ngModel)]="item.email"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'infirmier.password' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-lock"></i>
                            <input class="mb-2 mr-2 w-full" type="password" pInputText
                                   placeholder="{{'infirmier.password' | translate}}"
                                   id="4" [(ngModel)]="item.password"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'infirmier.specialization' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="specializations"
                                    [(ngModel)]="item.specialization" id="1"
                                    [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="libelle"
                                    placeholder="{{'infirmier.specialization' | translate}}"
                                    styleClass="w-full">
                        </p-dropdown>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <button pButton pRipple label="{{'cancel' | translate}}"
                    icon="pi pi-times" class="p-button-text"
                    (click)="hideEditDialog()">
            </button>
            <button pButton pRipple label="{{'validate' | translate}}"
                    icon="pi pi-check" class="p-button-primary"
                    (click)="edit()">
            </button>
        </div>
    </ng-template>
</p-dialog>
