<p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}"
          header="{{'safeZone.tabPan' | translate}}"
          [modal]="true"
          styleClass="p-fluid"
          [draggable]="false"
          [resizable]="false">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'safeZone.tabPan' | translate}}">
                <div class="grid">
                    <!-- Google Map Section -->
                    <div class="field col-12">
                        <label for="map">{{'safeZone.selectLocation' | translate}}</label>
                        <!-- Add this in the appropriate place in your template -->
                        <div id="map" style="height: 400px; width: 100%;"></div>

                    </div>



                    <div class="field col-12 md:col-6">
                        <label for="3">{{'safeZone.rayon' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-circle"></i>
                            <p-inputNumber class="w-full" id="3"
                                           placeholder="{{'safeZone.rayon' | translate}}"
                                           [(ngModel)]="item.rayon">
                            </p-inputNumber>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'safeZone.linkedPatient' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="linkedPatients"
                                    [(ngModel)]="item.linkedPatient" id="4"
                                    [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="email"
                                    placeholder="{{'safeZone.linkedPatient' | translate}}"
                                    styleClass="w-full">
                        </p-dropdown>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <button pButton pRipple label="{{'cancel' | translate}}"
                    icon="pi pi-times" class="p-button-outlined"
                    (click)="hideCreateDialog()">
            </button>

            <button pButton pRipple label="{{'validate' | translate}}"
                    icon="pi pi-check" class="p-button-primary"
                    (click)="save()">
            </button>
        </div>
    </ng-template>
</p-dialog>
