        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'safeZone.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'safeZone.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'safeZone.centreLongitude' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="1" placeholder="{{'safeZone.centreLongitude' | translate}}" [(ngModel)]="item.centreLongitude"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'safeZone.centreLatitude' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'safeZone.centreLatitude' | translate}}" [(ngModel)]="item.centreLatitude"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'safeZone.rayon' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'safeZone.rayon' | translate}}" [(ngModel)]="item.rayon"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="4">{{'safeZone.linkedPatient' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="linkedPatients" [(ngModel)]="item.linkedPatient" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="email" placeholder="{{'safeZone.linkedPatient' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
