    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'infirmier.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'infirmier.tabPan' | translate}}">
                        <div class="grid">

                                    <div class="field col-11 md:col-6">
                                        <label for="1">{{'infirmier.specialization' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="specializations" [(ngModel)]="item.specialization" id="1" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'infirmier.specialization' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="2">{{'infirmier.passwordChanged' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="2"  [(ngModel)]="item.passwordChanged"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="3">{{'infirmier.accountNonLocked' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="item.accountNonLocked"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'infirmier.password' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'infirmier.password' | translate}}" id="4" [(ngModel)]="item.password"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'infirmier.email' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'infirmier.email' | translate}}" id="5" [(ngModel)]="item.email"
                                                    />
                                            
                                        </div>



                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="6">{{'infirmier.enabled' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="item.enabled"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="7">{{'infirmier.credentialsNonExpired' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="7"  [(ngModel)]="item.credentialsNonExpired"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="8">{{'infirmier.accountNonExpired' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="8"  [(ngModel)]="item.accountNonExpired"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field col-12 md:col-6">
                                            <label for="9">{{'infirmier.username' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'infirmier.username' | translate}}" id="9" [(ngModel)]="item.username"
                                                    />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
