<p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}"
          header="{{'warningPatient.tabPan' | translate}}"
          [modal]="true"
          styleClass="p-fluid"
          [draggable]="false"
          [resizable]="false">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'warningPatient.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'warningPatient.patient' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="patients"
                                    [(ngModel)]="item.patient" id="1"
                                    [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="email"
                                    placeholder="{{'warningPatient.patient' | translate}}"
                                    styleClass="w-full">
                        </p-dropdown>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'warningPatient.message' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-comment"></i>
                            <textarea id="2" pInputTextarea rows="5" cols="30"
                                      placeholder="{{'warningPatient.message' | translate}}"
                                      [(ngModel)]="item.message"
                                      class="w-full">
                            </textarea>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'warningPatient.warningType' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="warningTypes"
                                    [(ngModel)]="item.warningType" id="3"
                                    [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="libelle"
                                    placeholder="{{'warningPatient.warningType' | translate}}"
                                    styleClass="w-full">
                        </p-dropdown>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'warningPatient.dateWarning' | translate}}</label>
                        <p-calendar appendTo="body" id="4" [showTime]="true"
                                    [showSeconds]="false"
                                    placeholder="{{'warningPatient.dateWarning' | translate}}"
                                    [(ngModel)]="item.dateWarning"
                                    dateFormat="{{dateFormat}}"
                                    [showIcon]="true"
                                    styleClass="w-full">
                        </p-calendar>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <button pButton pRipple label="{{'cancel' | translate}}"
                    icon="pi pi-times" class="p-button-outlined"
                    (click)="hideCreateDialog()">
            </button>

            <button pButton pRipple label="{{'validate' | translate}}"
                    icon="pi pi-check" class="p-button-primary"
                    (click)="save()">
            </button>
        </div>
    </ng-template>
</p-dialog>
