<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}"
          header="{{'safeZone.tabPan' | translate}}"
          [modal]="true"
          styleClass="p-fluid edit-dialog"
          [draggable]="false"
          [resizable]="false">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'safeZone.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'safeZone.centreLongitude' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-map-marker"></i>
                            <p-inputNumber class="w-full" id="1"
                                           [disabled]="true"
                                           placeholder="{{'safeZone.centreLongitude' | translate}}"
                                           [ngModel]="item.centreLongitude">
                            </p-inputNumber>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'safeZone.centreLatitude' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-map-marker"></i>
                            <p-inputNumber class="w-full" id="2"
                                           [disabled]="true"
                                           placeholder="{{'safeZone.centreLatitude' | translate}}"
                                           [ngModel]="item.centreLatitude">
                            </p-inputNumber>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'safeZone.rayon' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-circle"></i>
                            <p-inputNumber class="w-full" id="3"
                                           [disabled]="true"
                                           placeholder="{{'safeZone.rayon' | translate}}"
                                           [ngModel]="item.rayon">
                            </p-inputNumber>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'safeZone.linkedPatient' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText
                                   [disabled]="true"
                                   placeholder="{{'safeZone.linkedPatient' | translate}}"
                                   id="4" [ngModel]="item.linkedPatient?.email"/>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <button pButton pRipple label="{{'cancel' | translate}}"
                    icon="pi pi-times" class="p-button-text"
                    (click)="hideViewDialog()">
            </button>
        </div>
    </ng-template>
</p-dialog>
