.layout-sidebar {
    position: fixed;
    width: 280px;
    height: calc(100vh - 9rem);
    top: 7rem;
    left: 1.5rem;
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
        &-thumb {
            background: #cbd5e1;
            border-radius: 3px;
        }
    }
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;

    .layout-root-menuitem > .layout-menuitem-root-text:first-child {
        display: none;
    }

    a {
        display: flex;
        align-items: center;
        padding: 1rem;
        color: #4b5563;
        border-radius: 6px;
        margin: 0.8rem 0;
        font-weight: 500;
        transition: 0.2s;

        .layout-menuitem-icon {
            width: 1.2rem;
            margin-right: 1rem;
        }

        &:hover {
            background: #3730a3;
            color: #fff;
            transform: translateX(3px);
        }

        &.active-route {
            background: #4f46e5;
            color: #fff;
        }
    }

    ul {
        padding-left: 1.2rem;
        margin: 0.8rem 0;

        .layout-submenu-toggler {
            margin-left: auto;
            font-size: 0.7rem;
            transition: 0.2s;
        }
    }

    .active-menuitem > a .layout-submenu-toggler {
        transform: rotate(-180deg);
    }
}
