<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}"
          header="{{'infirmier.tabPan' | translate}}"
          [modal]="true"
          styleClass="p-fluid view-dialog"
          [draggable]="false"
          [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'infirmier.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'infirmier.username' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText [disabled]="true"
                                   placeholder="{{'infirmier.username' | translate}}"
                                   id="9" [ngModel]="item.username"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="5">{{'infirmier.email' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-envelope"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText [disabled]="true"
                                   placeholder="{{'infirmier.email' | translate}}"
                                   id="5" [ngModel]="item.email"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'infirmier.specialization' | translate}}</label>
                        <input class="mb-2 mr-2 w-full" type="text" pInputText [disabled]="true"
                               placeholder="{{'infirmier.specialization' | translate}}"
                               id="1" [ngModel]="item.specialization?.libelle"/>
                    </div>

                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <button pButton pRipple label="{{'cancel' | translate}}"
                    icon="pi pi-times" class="p-button-text"
                    (click)="hideViewDialog()">
            </button>
        </div>
    </ng-template>
</p-dialog>
