<!-- Version mise à jour du dialog de vue -->
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'patient.tabPan' | translate}}"
          [modal]="true" styleClass="p-fluid edit-dialog" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'patient.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="15">{{'patient.username' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText [disabled]="true"
                                   placeholder="{{'patient.username' | translate}}" id="15" [ngModel]="item.username"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="11">{{'patient.email' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-envelope"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText [disabled]="true"
                                   placeholder="{{'patient.email' | translate}}" id="11" [ngModel]="item.email"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'patient.dateOfBirth' | translate}}</label>
                        <p-calendar appendTo="body" id="1" [disabled]="true" [showTime]="true" [showSeconds]="false"
                                    placeholder="{{'patient.dateOfBirth' | translate}}" [ngModel]="item.dateOfBirth"
                                    dateFormat="{{dateFormat}}" styleClass="w-full">
                        </p-calendar>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'patient.gender' | translate}}</label>
                        <input class="mb-2 mr-2 w-full" type="text" pInputText [disabled]="true"
                               placeholder="{{'patient.gender' | translate}}" id="2" [ngModel]="item.gender?.libelle"/>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'patient.emergencyContact' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-phone"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText [disabled]="true"
                                   placeholder="{{'patient.emergencyContact' | translate}}" id="4" [ngModel]="item.emergencyContact"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="5">{{'patient.doctorInCharge' | translate}}</label>
                        <input class="mb-2 mr-2 w-full" type="text" pInputText [disabled]="true"
                               placeholder="{{'patient.doctorInCharge' | translate}}" id="5" [ngModel]="item.doctorInCharge?.email"/>
                    </div>

                    <div class="field col-12">
                        <label for="3">{{'patient.address' | translate}}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true"
                                  placeholder="{{'patient.address' | translate}}" [ngModel]="item.address"
                                  class="w-full">
                        </textarea>
                    </div>


                    <!-- Répéter le même pattern pour les autres switches -->
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'patient.infirmierPatients' | translate}}">
                <div class="card data-table">
                    <p-table [value]="item.infirmierPatients" [scrollable]="true"
                             scrollHeight="200px" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Infirmier</th>
                                <th>Date debut</th>
                                <th>Date fin</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p>
                            <tr>
                                <td>{{p.infirmier?.email}}</td>
                                <td>{{p.dateDebut | date: dateFormatColumn}}</td>
                                <td>{{p.dateFin | date: dateFormatColumn}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'patient.warningPatients' | translate}}">
                <div class="card data-table">
                    <p-table [value]="item.warningPatients" [scrollable]="true"
                             scrollHeight="200px" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Message</th>
                                <th>Warning type</th>
                                <th>Date warning</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p>
                            <tr>
                                <td>{{p.message}}</td>
                                <td>{{p.warningType?.libelle}}</td>
                                <td>{{p.dateWarning | date: dateFormatColumn}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <button pButton pRipple label="{{'cancel' | translate}}"
                    icon="pi pi-times" class="p-button-text"
                    (click)="hideViewDialog()">
            </button>
        </div>
    </ng-template>
</p-dialog>
