        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'warningPatient.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'warningPatient.tabPan' | translate}}">
                                <div class="grid">

                                            <div class="field col-11 md:col-6">
                                                <label for="1">{{'warningPatient.patient' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="patients" [(ngModel)]="item.patient" id="1" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="email" placeholder="{{'warningPatient.patient' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'warningPatient.message' | translate}}</label>
                                                    <textarea id="2" pInputTextarea rows="5" cols="30" placeholder="{{'warningPatient.message' | translate}}"  [(ngModel)]="item.message"
                                                             ></textarea>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="3">{{'warningPatient.warningType' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="warningTypes" [(ngModel)]="item.warningType" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'warningPatient.warningType' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'warningPatient.dateWarning' | translate}}</label>
                                                    <p-calendar appendTo="body" id="4"  [showTime]="true" [showSeconds]="false" placeholder="{{'warningPatient.dateWarning' | translate}}"  [(ngModel)]="item.dateWarning"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
