<p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}"
          header="{{'safeZone.tabPan' | translate}}"
          [modal]="true"
          styleClass="p-fluid edit-dialog"
          [draggable]="false"
          [resizable]="false">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'safeZone.tabPan' | translate}}">
                <div class="grid">

                    <!-- Map in one row -->
                    <div class="field col-12">
                        <label for="map">{{'safeZone.map' | translate}}</label>
                        <div id="map" style="height: 300px; width: 100%;"></div>
                    </div>

                    <!-- Inputs in one line (second row) -->
                    <div class="field col-12 md:col-4">
                        <label for="1">{{'safeZone.centreLongitude' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-map-marker"></i>
                            <p-inputNumber class="w-full" id="1"
                                           placeholder="{{'safeZone.centreLongitude' | translate}}"
                                           [(ngModel)]="item.centreLongitude">
                            </p-inputNumber>
                        </div>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="2">{{'safeZone.centreLatitude' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-map-marker"></i>
                            <p-inputNumber class="w-full" id="2"
                                           placeholder="{{'safeZone.centreLatitude' | translate}}"
                                           [(ngModel)]="item.centreLatitude">
                            </p-inputNumber>
                        </div>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="3">{{'safeZone.rayon' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-circle"></i>
                            <p-inputNumber class="w-full" id="3"
                                           placeholder="{{'safeZone.rayon' | translate}}"
                                           [(ngModel)]="item.rayon">
                            </p-inputNumber>
                        </div>
                    </div>

                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <button pButton pRipple label="{{'cancel' | translate}}"
                    icon="pi pi-times" class="p-button-text"
                    (click)="hideEditDialog()">
            </button>
            <button pButton pRipple label="{{'validate' | translate}}"
                    icon="pi pi-check" class="p-button-primary"
                    (click)="edit()">
            </button>
        </div>
    </ng-template>
</p-dialog>
