<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}"
          header="{{'warningPatient.tabPan' | translate}}"
          [modal]="true"
          styleClass="p-fluid edit-dialog"
          [draggable]="false"
          [resizable]="false">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'warningPatient.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'warningPatient.patient' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText
                                   [disabled]="true"
                                   placeholder="{{'warningPatient.patient' | translate}}"
                                   id="1" [ngModel]="item.patient?.email"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'warningPatient.message' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-comment"></i>
                            <textarea id="2" pInputTextarea rows="5" cols="30"
                                      [disabled]="true"
                                      placeholder="{{'warningPatient.message' | translate}}"
                                      [ngModel]="item.message"
                                      class="w-full">
                            </textarea>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'warningPatient.warningType' | translate}}</label>
                        <div class="p-input-icon-right">
                            <i class="pi pi-exclamation-triangle"></i>
                            <input class="mb-2 mr-2 w-full" type="text" pInputText
                                   [disabled]="true"
                                   placeholder="{{'warningPatient.warningType' | translate}}"
                                   id="3" [ngModel]="item.warningType?.libelle"/>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'warningPatient.dateWarning' | translate}}</label>
                        <p-calendar appendTo="body" id="4" [disabled]="true"
                                    [showTime]="true" [showSeconds]="false"
                                    placeholder="{{'warningPatient.dateWarning' | translate}}"
                                    [ngModel]="item.dateWarning"
                                    dateFormat="{{dateFormat}}"
                                    [showIcon]="true"
                                    styleClass="w-full">
                        </p-calendar>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <button pButton pRipple label="{{'cancel' | translate}}"
                    icon="pi pi-times" class="p-button-text"
                    (click)="hideViewDialog()">
            </button>
        </div>
    </ng-template>
</p-dialog>
