<p-toast></p-toast>
<div class="body">
    <form (ngSubmit)="submit()" class="form-login">
        <h1>Doctors Portal</h1>
        <div class="username">
            <label for="username">Medical ID</label>
            <input
                id="username"
                type="text"
                [(ngModel)]="loginDto.username"
                name="username"
                placeholder="Enter your medical ID"
                required
            >
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input
                id="password"
                type="password"
                [(ngModel)]="loginDto.password"
                name="password"
                placeholder="Enter your password"
                required
            >
        </div>
        <a class="forget" (click)="forget()">Forgot password?</a>
        <div class="login">
            <button class="submit" type="submit">Access Patient System</button>
        </div>
        <div class="register-link">
            <p>New to the system? <a (click)="register()">Register here</a></p>
        </div>
    </form>
</div>
