<p-dialog [(visible)]="createDialog"
          [style]="{width: '70vw'}"
          header="{{'infirmierPatient.tabPan' | translate}}"
          [modal]="true"
          styleClass="p-fluid edit-dialog"
          [maximizable]="true"
          [draggable]="false"
          [resizable]="false">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'infirmierPatient.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-11 md:col-6">
                        <label for="1">{{'infirmierPatient.patient' | translate}}</label>
                        <p-dropdown appendTo="body"
                                    [options]="patients"
                                    [(ngModel)]="item.patient"
                                    id="1"
                                    [filter]="true"
                                    filterMatchMode="contains"
                                    [showClear]="true"
                                    optionLabel="email"
                                    placeholder="{{'infirmierPatient.patient' | translate}}">
                        </p-dropdown>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="2">{{'infirmierPatient.infirmier' | translate}}</label>
                        <p-dropdown appendTo="body"
                                    [options]="infirmiers"
                                    [(ngModel)]="item.infirmier"
                                    id="2"
                                    [filter]="true"
                                    filterMatchMode="contains"
                                    [showClear]="true"
                                    optionLabel="email"
                                    placeholder="{{'infirmierPatient.infirmier' | translate}}">
                        </p-dropdown>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'infirmierPatient.dateDebut' | translate}}</label>
                        <p-calendar appendTo="body"
                                    id="3"
                                    [showTime]="true"
                                    [showSeconds]="false"
                                    placeholder="{{'infirmierPatient.dateDebut' | translate}}"
                                    [(ngModel)]="item.dateDebut"
                                    dateFormat="{{dateFormat}}">
                        </p-calendar>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'infirmierPatient.dateFin' | translate}}</label>
                        <p-calendar appendTo="body"
                                    id="4"
                                    [showTime]="true"
                                    [showSeconds]="false"
                                    placeholder="{{'infirmierPatient.dateFin' | translate}}"
                                    [(ngModel)]="item.dateFin"
                                    dateFormat="{{dateFormat}}">
                        </p-calendar>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <button pButton
                    pRipple
                    label="{{'validate' | translate}}"
                    icon="pi pi-check"
                    class="p-button-primary"
                    (click)="save()">
            </button>

            <button pButton
                    pRipple
                    label="{{'cancel' | translate}}"
                    icon="pi pi-times"
                    class="p-button-outlined"
                    (click)="hideCreateDialog()">
            </button>
        </div>
    </ng-template>
</p-dialog>
