<div class="flex flex-row justify-content-around align-items-center flex-wrap border">
    <a class="navbar-logo">
        <img src="assets/layout/images/logoBlue.png"  alt="Logo" >
    </a>
    <div class="flex flex-row align-items-center justify-content-center   bg-bla ">
        <ul class="flex flex-row navbar-links bg-bla">
            <li>
                <a href="/home" class="nav-link">Home</a>
            </li>
        </ul>

    </div>
    <div class="flex align-items-center justify-content-center  m-2 bg-bla">
        <button class="btn-start" [routerLink]="['/admin/login']" >Get Started</button>
    </div>
</div>

