<div class="grid" *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="content-card">
            <div class="list-header">
                <div class="title-container">
                    <h2>{{'localisation.header' | translate}}</h2>
                    <span class="patient-count">{{totalRecords}} {{'localisations' | translate}}</span>
                </div>
            </div>

            <div class="actions-container">
                <div class="left-actions">
                   <!-- <button pButton
                            label="{{'delete' | translate}}"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            [disabled]="isSelectionDisabled()"
                            *ngIf="deleteActionIsValid"
                            (click)="deleteMultiple()">
                    </button> -->

                    <button pButton
                            label="{{'search' | translate}}"
                            icon="pi pi-search"
                            class="p-button-secondary"
                            (click)="showSearch()">
                    </button>
                </div>

                <div class="right-actions">
                    <button pButton
                            label="{{'new' | translate}}"
                            icon="pi pi-plus"
                            class="p-button-primary"
                            *ngIf="createActionIsValid"
                            (click)="openCreate()">
                    </button>
                </div>
            </div>

            <div class="search-panel" *ngIf="findByCriteriaShow">
                <div class="grid">

                    <div class="col-12 md:col-4">
                        <label for="2-1">{{'localisation.dateLocalisationMin' | translate}}</label>
                        <p-calendar [(ngModel)]="criteria.dateLocalisationFrom"
                                    id="2-1"
                                    [showIcon]="true"
                                    dateFormat="dd-MM-yy"
                                    [showButtonBar]="true"
                                    styleClass="w-full">
                        </p-calendar>
                    </div>

                    <div class="col-12 md:col-4">
                        <label for="2-2">{{'localisation.dateLocalisationMax' | translate}}</label>
                        <p-calendar [(ngModel)]="criteria.dateLocalisationTo"
                                    id="2-2"
                                    [showIcon]="true"
                                    dateFormat="dd-MM-yy"
                                    [showButtonBar]="true"
                                    styleClass="w-full">
                        </p-calendar>
                    </div>

                    <div class="col-12 md:col-4">
                        <label for="3-1">{{'localisation.longitudeMin' | translate}}</label>
                        <p-inputNumber mode="decimal" [(ngModel)]="criteria.longitudeMin" id="3-1"></p-inputNumber>
                    </div>

                    <div class="col-12 md:col-4">
                        <label for="3-2">{{'localisation.longitudeMax' | translate}}</label>
                        <p-inputNumber mode="decimal" [(ngModel)]="criteria.longitudeMax" id="3-2"></p-inputNumber>
                    </div>

                    <div class="col-12 md:col-4">
                        <label for="4-1">{{'localisation.latitudeMin' | translate}}</label>
                        <p-inputNumber mode="decimal" [(ngModel)]="criteria.latitudeMin" id="4-1"></p-inputNumber>
                    </div>

                    <div class="col-12 md:col-4">
                        <label for="4-2">{{'localisation.latitudeMax' | translate}}</label>
                        <p-inputNumber mode="decimal" [(ngModel)]="criteria.latitudeMax" id="4-2"></p-inputNumber>
                    </div>

                </div>

                <div class="text-right">
                    <button pButton
                            label="{{'validate' | translate}}"
                            icon="pi pi-search"
                            class="search-button"
                            (click)="findPaginatedByCriteria()">
                    </button>
                </div>
            </div>

            <p-table #dt [value]="items"
                     [columns]="cols"
                     [rows]="10"
                     [(selection)]="selections"
                     [rowHover]="true"
                     dataKey="id"
                     styleClass="p-datatable-sm">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>PATIENT</th>
                        <th>EMAIL</th>
                        <th>EMERGENCY CONTACT</th>
                        <th>CAPTEUR</th>
                        <th style="width: 120px">ACTIONS</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                        <td>{{element.patient?.username}}</td>
                        <td>{{element.patient?.email}}</td>
                        <td>{{element.patient?.emergencyContact}}</td>
                        <td>{{element.capteur?.libelle}}</td>
                        <td>
                            <div class="action-buttons">
                              <!--  <button pButton
                                        icon="pi pi-pencil"
                                        class="p-button-text p-button-info"
                                        *ngIf="editActionIsValid"
                                        (click)="edit(element)"
                                        pTooltip="Edit">
                                </button>

                                <button pButton
                                        icon="pi pi-trash"
                                        class="p-button-text p-button-danger"
                                        *ngIf="deleteActionIsValid"
                                        (click)="delete(element)"
                                        pTooltip="Delete">
                                </button> -->

                                <button pButton
                                        icon="pi pi-map"
                                        class="p-button-text p-button-help"
                                        *ngIf="viewActionIsValid"
                                        (click)="view(element)"
                                        pTooltip="View in Map">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- Export Button -->
            <div class="export-container">
                <p-splitButton label="{{'export' | translate}}"
                               icon="pi pi-download"
                               [model]="excelPdfButons"
                               styleClass="p-button-primary export-button">
                </p-splitButton>
            </div>

            <!-- Pagination -->
            <div class="pagination-wrapper">
                <p-paginator [rows]="10"
                             [totalRecords]="totalRecords"
                             (onPageChange)="onPage($event)"
                             [showCurrentPageReport]="false"
                             [showFirstLastIcon]="false">
                </p-paginator>
            </div>
        </div>

        <app-localisation-create-doctor *ngIf="createDialog && createActionIsValid"></app-localisation-create-doctor>
        <app-localisation-edit-doctor *ngIf="editDialog && editActionIsValid"></app-localisation-edit-doctor>
        <app-localisation-view-doctor *ngIf="viewDialog && viewActionIsValid"></app-localisation-view-doctor>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">You don't have permission to access!</p>
</p-card>
