<p-toast></p-toast>
<div class="body">
    <form (ngSubmit)="submit()" class="form-login">
        <img src="assets/layout/images/logo.png" class="logo-login">
        <h1>MediTrack Portal</h1>
        <div class="username">
            <label for="username">Provider ID / Username</label>
            <input
                id="username"
                type="text"
                [(ngModel)]="loginDto.username"
                name="username"
                placeholder="Enter your ID"
                required
            >
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input
                id="password"
                type="password"
                [(ngModel)]="loginDto.password"
                name="password"
                placeholder="Enter your password"
                required
            >
        </div>
        <a class="forget" (click)="forget()">Forgot your password?</a>
        <div class="login">
            <button class="submit" type="submit">Sign In to Portal</button>
        </div>
        <div class="register-link">
            <p>New to MediTrack? <a (click)="register()">Create Account</a></p>
        </div>
    </form>
</div>
